languaje: node_js
node_js:
    - "stable"
cache:
  directories:
    - node_modules

job:
    include:
        - stage: setup
          script: npm ci
          only: master
            
        - stage: test
          script: npm run test
          only: master
       
        - stage: build
          script: npm run build
          artifacts:
            paths: build
            only: master
        - stage: deploy
          deploy:
            provider: heroku
            skip_cleanup: true
            api_key: 34fbbf0c-7109-41c9-917d-52f878913ffc
            strategy: git
            app: ingenieriasw
            on:
              branch: master